@font-face {
  font-family: "JetBrains";
  src: url("JetBrains/fonts/variable/JetBrainsMono[wght].ttf");
}

body {
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: "JetBrains";
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: "JetBrains";
  font-size: 2rem;
  text-align: center;
}

.AllTime {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.TimeHolder {
}
